section.contacts {
  padding: 10rem 0 5.8rem;

  .flex-center {
    margin-bottom: 6.3rem;

    h2::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .contacts_links {
    gap: 5.4rem;

    a svg {
      height: 3.5rem;
      width: auto;
    }
  }
}